{% extends "base.html" %}
{% block title %} Ajouter une PIECE (WTF) {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Ajouter une nouvelle PIECE (WTForms)
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.num_serie_piece_wtf.label }}<br>
						{{ form.num_serie_piece_wtf(size=32) }}<br>
						{{ form.couleur_piece_wtf.label }}<br>
						{{ form.couleur_piece_wtf(size=32) }}<br>
						{% for error in form.num_serie_piece_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						{% for error in form.couleur_piece_wtf.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

